
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Car Paradise</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" href="/car">All Cars</a>
            </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/car/add">Add Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
        </ul>
      </div>
  </nav>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Add Car
        </h1>
        <%- include ("./partials/messages"); %>
        <form action="/car/add" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Brand</label>
            <select name="brand" id="brand" class="form-control">
              <option value="Aston Martin">Aston Martin</option>
              <option value="Bentley">Bentley</option>
              <option value="BMW">BMW</option>
              <option value="Cadillac">Cadillac</option>
              <option value="Ferrari">Ferrari</option>
              <option value="Ford">Ford</option>
              <option value="Lada">Lada</option>
              <option value="Land Rover">Land Rover</option>
              <option value="Mercedes">Mercedes</option>
              <option value="Toyota">Toyota</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">model</label>
            <input
              type="text"
              id="model"
              name="model"
              class="form-control"
              placeholder="Car model (Porsche)"
              value="<%= typeof model != 'undefined' ? model : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">bodyType</label>
            <select name="bodyType" id="bodyType" class="form-control">
              <option value="Sedan">Sedan</option>
              <option value="Hatchback">Hatchback</option>
              <option value="SUV">SUV</option>
              <option value="Crossover">Crossover</option>
              <option value="Coupe">Coupe</option>
              <option value="Convertible">Convertible</option>
              <option value="Van">Van</option>
              <option value="Bus">Bus</option>
              <option value="Truck">Truck</option>
              <option value="Not Set">Not Set</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">year</label>
            <select name="year" id="year" class="form-control">
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option>
              <option value="2000">2000</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">color</label>
            <input
              type="text"
              id="color"
              name="color"
              class="form-control"
              placeholder="Car color (Porsche)"
              value="<%= typeof color != 'undefined' ? color : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">mileage</label>
            <input
              type="text"
              id="mileage"
              name="mileage"
              class="form-control"
              placeholder="Car mileage (Porsche)"
              value="<%= typeof mileage != 'undefined' ? mileage : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">engine</label>
            <select name="engine" id="engine" class="form-control">
              <option value="Diesel">Diesel</option>
              <option value="Electric">Electric</option>
              <option value="Gas">Gas</option>
              <option value="Hybrid">Hybrid</option>
              <option value="Petrol">Petrol</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">volumetric</label>
            <input
              type="text"
              id="volumetric"
              name="volumetric"
              class="form-control"
              placeholder="Car volumetric (Porsche)"
              value="<%= typeof volumetric != 'undefined' ? volumetric : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">location</label>
            <select name="location" id="location" class="form-control">
              <option value="Agjabadi">Agjabadi</option>
              <option value="Baku">Baku</option>
              <option value="Barda">Barda</option>
              <option value="Gakh">Gakh</option>
              <option value="Ganja">Ganja</option>
              <option value="Jalilabad">Jalilabad</option>
              <option value="Nakhcivan">Nakhcivan</option>
              <option value="Sumqayit">Sumqayit</option>
              <option value="Yevlakh">Yevlakh</option>
              <option value="Zakhatala">Zakhatala</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">price</label>
            <input
              type="text"
              id="price"
              name="price"
              class="form-control"
              placeholder="Car price (Porsche)"
              value="<%= typeof price != 'undefined' ? price : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">description</label>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              placeholder="Car description (Porsche)"
              value="<%= typeof description != 'undefined' ? description : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="file">photo</label>
            <input
              type="file"
              id="file"
              name="file"
              class="form-control"
              placeholder="Car file (Porsche)"
              value="<%= typeof file != 'undefined' ? file : '' %>"
            />
          </div> 
          <button type="submit" class="btn btn-primary btn-block">
            Add Car
          </button>
        </form>
      </div>
    </div>
  </div>
  