<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<nav>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    <a href="/car/add" class="btn btn-secondary">Add Car</a>
</nav>
<% if(cars) { %> 
    <% cars.forEach(car => { %> 
        <div class="card" style="width: 18rem;">
            <img src="uploads/<%= car.img %>" class="card-img-top" alt="...">
            <div class="card-body">
            <a href="/car/<%= car._id %> "><h5 class="card-title"><%= car.brand %> <%= car.model %> </h5></a>
            <p class="card-text"><%= car.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Body Type: </b> <%= car.bodyType %> </li>
                <li class="list-group-item"><b>year: </b> <%= car.year %> </li>
                <li class="list-group-item"><b>color: </b> <%= car.color %> </li>
                <li class="list-group-item"><b>mileage: </b> <%= car.mileage %> </li>
                <li class="list-group-item"><b>engine: </b> <%= car.engine %> </li>
                <li class="list-group-item"><b>volumetric: </b> <%= car.volumetric %> </li>
                <li class="list-group-item"><b>location: </b> <%= car.location %> </li>
            </ul>
            <div class="card-body">
            <a href="#" class="card-link btn btn-warning">Update</a>
            <a data-doc="<%= car._id %>"  class="delete card-link btn btn-danger">Delete</a>
            </div>
        </div>
    <% }) %>
<% } else { %> 
    <p>No cars in this user.</p>
<% } %> 

<script>
    const trashcan = document.querySelector('a.delete')

    trashcan.addEventListener('click', (e) => {
        const endpoint = `/car/${trashcan.dataset.doc}`;

        fetch(endpoint, {
            method: 'DELETE'
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => console.log(err));
    })
</script>

